body {
 background-color:bisque;
}

#criar-tarefa {
  background-color:yellowgreen  ;
  height: 40px;
  border-radius: 20%;
}

#apaga-tudo {
  background-color: red;
  height: 40px;
  border-radius: 20%;
}