.buttonContainer {
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

.completed {
  text-decoration: line-through solid black;
}

.headerContainer {
  background-color: rgb(201 , 228 , 222);
  border-radius: 50px;
  box-shadow: -5px -5px rgb(107 , 144 , 128);
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  width: 80%;
}

.headerContainer p {
  color: grey;
}

.headerContainer input {
  border-radius: 5px;
  text-align: center;
  width: 250px;
}

.headerContainer button {
  border-radius: 10px;
  margin-left: 10px;
}

header {
  font-size: 3em;
}

li {
  font-size: 1.4em;
  padding-left: 10px;
}

ol {
  background-color: rgb(255 , 255 , 153);
  box-shadow: -8px 8px rgb(255 , 195 , 0);
  margin: auto;
  width: 400px;
}

.selected {
  background-color: gray;
  color: red;
}
