.title {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    min-width: 200px;
}

.listContainer {
    width: 60%;
    min-height: 45vh;
    border: 1px solid black;
    background-image: url(background.png);
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
}

.inputContainer {
    clear: initial;
    width: 35%;
    min-height: 45vh;
}

.box {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#criar-tarefa {
    border-radius: 8px;
    background-color: rgb(182, 242, 136);
}

#apaga-tudo {
    border-radius: 8px;
    background-color: red;
}

#texto-tarefa {
    border-radius: 8px;
}

.selected {
       
}

#lista-tarefas {
    display: flex;
    flex-direction: column;
}

.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}


.task {
    width: 45%;
}

.checkedBox {
    background-image: url(checked.png);
    background-size: cover;
    pointer-events: none
}

