.selected {
    background-color: rgb(128, 128, 128);
}

#lista-tarefas {
    display: flex;
    flex-direction: column;
}

.completed {
    text-decoration: line-through;
}

span {
    font-size: 15px;    
}