html {
    height: 100%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-size: cover;
}

body {

    font-family: Montserrat, sans-serif;
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 28px;
}

p {
    font-size: 15px;
    font-weight: 700;
}

main {
    border-radius: 5px;
    color: white;
    height: 300px;
    margin: 20px auto 20px auto;
    padding: 20px;
    text-align: center;
    width: 60em; 
}

button {
    margin: 5px;
    padding: 3px 10px;
    font-size: 16px;
    width: 65px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}


section {
    width: 350px;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

input {
    padding: 8px 28px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
}

ol {
    list-style-position: inside;
    width: 300px;
    display: block;
}

.selected {
    background-color: rgb(128, 128, 128);
    transition: ease 0.5s;
    border-radius: 3px;
}

.lineThroughItem {
    text-decoration: line-through solid rgb(0, 0, 0);
}
.task {
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    text-align: justify;
    cursor: pointer;
    width: 200px;
}

#userTask {
    width: 200px;
    margin: auto;
}


input:focus{
    outline: none;
}

button:hover {
    background-color: #00c6fb;
    color: white;
}

#apaga-tudo:hover {
    background-color: #ff3f34;
    color: white;
}



