body {
  background-color: limegreen;
}

.button-1 {
  background-color: green;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 15px;
}

.button-2 {
  background-color: red;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  font-family: monospace;
  font-size: 20px;
  font-weight: 900;
  padding: 5px 10px;
}

.button-3 {
  background-color: dodgerblue;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  padding: 5px 15px;
}

.button-4 {
  background-color: orangered;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  padding: 5px 15px;
}

.button-5 {
  background-color: green;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  padding: 5px 15px;
}

.color {
  background-color: gray;
}

.container {
  background-color: white;
  border: 2px solid green;
  border-radius: 20px;
  margin: 150px auto 0;
  padding: 30px 0 15px;
  width: 70%;
}

.completed {
  text-decoration: line-through solid black;
}

.botoes {
  display: flex;
  justify-content: center;
  margin: auto;
}

.caixa-texto {
  display: flex;
  justify-content: center;
}

.ol {
  display: flex;
  justify-content: center;
}

.paragrafo {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.texto-input {
  background-color: snow;
  border: 1px solid gainsboro;
  border-radius: 10px;
  margin-right: 10px;
}

.titulo {
  display: flex;
  height: 50px;
  justify-content: center;
}
