.input-box {
  display: inline-block;
  text-align: center;
}

.criar-tarefa {
  background-color: silver;
  margin: 10px;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: black;
}

.apaga-tudo {
  background-color: silver;
  margin: 10px;
  text-align: center;
}
