body {
  background-color: rosybrown;
  text-align: center;
}

button {
  background-color: transparent;
  border:0.1em solid rosybrown;
  border-radius:0.12em;
  box-sizing: border-box;
  color: rosybrown;
  font-family: 'Quicksand', sans-serif;
  margin:0 0.3em 0.3em 0;
  text-align:center;
  transition: all 0.2s;
}

button:hover{
  background-color:#FFFFFF;
  color: black;
}

.selected {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through 2px solid rgb(240, 124, 124);
  text-decoration-style: wavy;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  height: 55px;
  margin: 0 0;
  color: rgb(139, 99, 99);
}

li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

header {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

.menu {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
