body {
  background-color: white;
  background-image: url('https://academiadamarca.com.br/wp-content/uploads/2017/03/gradiente-azul-claro-fundo.jpg');
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.completed {
  text-decoration: line-through;
}

header {
  font-size: 40px;
  font-weight: 900;
}

p {
  font-weight: 900;
}

.taskList {
  background-color: white;
  border-radius: 10px;
}
