body {
  background-color: aquamarine;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

button {
  background-color: blueviolet;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;  
  font-weight: bold;
}

div {
  background-color: whitesmoke;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px;
  text-align: left;
  width: 70%;
}

input {
    font-family: 'Gloria Hallelujah', cursive;
}

header {
    text-align: center;
}
ol {
  text-align: left;
}

.selected {
  background-color: rgb(128 ,128 ,128);
  color: white;
}
.completed {
  text-decoration: line-through solid rgb(0 ,0 ,0);
}
